h1 {
  font-size: 35px;
}

.card {
  padding: 5px;
}

.card-title {
  font-size: 20px !important;
}

.content_input {
  width: 87%;
  margin-right: 5px;
}

.div-image {
  margin-right: 10px;
}

img {
  width: 50px;
  height: 50px;

  border-radius: 50%;
}
